<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/images/logo.svg" />
    <title>Liquid Landscaping (auth demo 1)</title>

    <body>
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h3 class="masthead-brand">
                        <img
                            src="/images/logo.svg"
                            alt="Liquid Landscaping logo"
                            width="100"
                        />
                    </h3>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link active" href="/">Home</a>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/profile">Profile</a>
                    </nav>
                </div>
            </header>

            <main role="main" class="inner cover">
                <h1 class="cover-heading">Liquid Landscaping</h1>
                <p class="lead">
                    This application only supports signing in with SAML-based
                    authentication since only internal users within the
                    organization should access this.
                </p>
                <p class="lead">
                    <a href="/login" class="btn btn-lg btn-secondary"
                        >Sign in with SAML-based authentication</a
                    >
                </p>
                <p>
                    <a href="/saml_metadata">View SAML metadata</a>
                </p>
            </main>

            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>
                        Cover template for
                        <a href="https://getbootstrap.com/">Bootstrap</a>, by
                        <a href="https://twitter.com/mdo">@mdo</a>.
                    </p>
                </div>
            </footer>
        </div>
    </body>
</html>
